Django==2.2.21
sphinx==2.2.0
django-docs
bs4
djangorestframework
djangorestframework-jwt
django-cors-headers
django-redis-sessions
tornado==6.0.3
tornado-redis
python-socketio
eventlet
aiohttp
aioredis